[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=xcash
Group=xcash
WorkingDirectory=~

Type=forking
PIDFile=/var/run/xcashd.pid

ExecStart=/usr/bin/xcashd --config-file /etc/xcashd.conf \
    --detach --pidfile /var/run/xcashd.pid

[Install]
WantedBy=multi-user.target
